.example-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 26vw;
}

h5 {
  display: flex;
  justify-content: center;
  font-size: 27px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0;
}

.example-form > div {
  display: flex;
  justify-content: center;
}

.example-full-width {
  width: 30%;
}

mat-icon {
  position: absolute;
  right: 21px;
}

button {
  width: 30%;
  position: relative;
  align-self: center;
  left: 1px;
}
