<div class="container">
  <mat-toolbar color="accent">
    <div align="center" style="text-align: right">
      COMISSÕES
    </div>
  </mat-toolbar>
  <br /><br />

  <mat-card-content>

    <div>
      <mat-label class="label">TOTAL COMISSÃO: {{valorTotalComissao | currency:"R$ "}}</mat-label>
    </div>

    <table class="table">

      <tr ngclass="btn-primary">
        <th class="tbl2">Cliente por Dívida</th>
        <th class="tbl2">Valor Dívida</th>
        <th class="tbl2">Valor Comissão</th>
      </tr>

      <tr *ngFor="let comissao of comissoes | async">
        <td class="tbl2">{{ comissao.nomeCliente }}</td>
        <td class="tbl2">{{ comissao.valorDivida | currency:'R$ ' }}</td>
        <td class="tbl2">{{ comissao.valorComissao | currency:'R$ ' }}</td>
      </tr>

    </table>

  </mat-card-content>

</div>
